# Classification model to predict whether a person makes over 50k a year

In [232]:
### importing required modules ###
import pandas as pd
import numpy as np

In [233]:
### Getting data from the .csv file ###
df = pd.read_csv('adult.csv',header=None)

In [234]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [211]:
df.shape

(32561, 15)

In [212]:
df.size

488415

In [213]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       32561 non-null  int64
 1   1       32561 non-null  object
 2   2       32561 non-null  int64
 3   3       32561 non-null  object
 4   4       32561 non-null  int64
 5   5       32561 non-null  object
 6   6       32561 non-null  object
 7   7       32561 non-null  object
 8   8       32561 non-null  object
 9   9       32561 non-null  object
 10  10      32561 non-null  int64
 11  11      32561 non-null  int64
 12  12      32561 non-null  int64
 13  13      32561 non-null  object
 14  14      32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [216]:
### Checking For null values
df.isnull().sum().sum()

0

There are no Null Values.....

Adding column names to the dataset.

In [236]:
df.columns = ['Age','Workclass','Fnlwgt', 'Education','education_num','marital_status','occupation','relationship','race','sex','capital_gain','capital_loss','hours_per_week','native_country','income']

In [237]:
df.head(10)

,Age,Workclass,Fnlwgt,Education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [220]:
df.income.unique()

array([' <=50K', ' >50K'], dtype=object)

In [221]:
### Replacing the data type of Target column, So that the job will get done easily ###
df['income'] = df['income'].replace([' <=50K', ' >50K'], ['0', '1'])

In [238]:
df.head()

,Age,Workclass,Fnlwgt,Education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

Label Encoding sex Column

In [239]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
gender = le.fit_transform(df.sex)

In [240]:
df.sex = gender

ONE HOT ENCODING race Column

In [241]:
from sklearn.preprocessing import OneHotEncoder

In [242]:
ohe = pd.get_dummies(df['race'], drop_first = True)
print(ohe)
df.race = ohe

        Asian-Pac-Islander   Black   Other   White
0                        0       0       0       1
1                        0       0       0       1
2                        0       0       0       1
3                        0       1       0       0
4                        0       1       0       0
...                    ...     ...     ...     ...
32556                    0       0       0       1
32557                    0       0       0       1
32558                    0       0       0       1
32559                    0       0       0       1
32560                    0       0       0       1

[32561 rows x 4 columns]

In [243]:
enc_data = pd.get_dummies(df['relationship'], drop_first = True)
enc_data

        Not-in-family   Other-relative   Own-child   Unmarried   Wife
0                   1                0           0           0      0
1                   0                0           0           0      0
2                   1                0           0           0      0
3                   0                0           0           0      0
4                   0                0           0           0      1
...               ...              ...         ...         ...    ...
32556               0                0           0           0      1
32557               0                0           0           0      0
32558               0                0           0           1      0
32559               0                0           1           0      0
32560               0                0           0           0      1

[32561 rows x 5 columns]

In [244]:
df.relationship = enc

In [245]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score,recall_score
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier

In [246]:
lr = LogisticRegression()

In [247]:
x=df[['Age','education_num','sex','race','relationship','capital_gain','capital_loss','hours_per_week']]
y = df['income']

In [248]:
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state = 42)

In [249]:
x_test.shape

(8141, 8)

In [250]:
lr.fit(x_train,y_train)

C:\Users\T.VASUDEVA REDDY\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [251]:
y_pred = lr.predict(x_test)

In [252]:
confusion_matrix(y_test, y_pred)

array([[6011,  203],
       [1372,  555]], dtype=int64)

In [253]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

       <=50K       0.81      0.97      0.88      6214
        >50K       0.73      0.29      0.41      1927

    accuracy                           0.81      8141
   macro avg       0.77      0.63      0.65      8141
weighted avg       0.79      0.81      0.77      8141

In [254]:
print('Logistic Regression:',accuracy_score(y_test,y_pred))

Logistic Regression: 0.8065348237317282

In [255]:
clf = DecisionTreeClassifier(criterion = 'entropy', random_state=0)
clf.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [256]:
pred1=clf.predict(x_test)
print('Decision Tree Classifier:',accuracy_score(y_test, pred1))

Decision Tree Classifier: 0.8123080702616386

In [257]:
from sklearn.ensemble import RandomForestClassifier

In [258]:
RF = RandomForestClassifier(n_estimators = 100)

In [259]:
RF.fit(x_train, y_train)

RandomForestClassifier()

In [260]:
pred2=RF.predict(x_test)
print('Random Forest:',accuracy_score(y_test, pred2))

Random Forest: 0.8212750276378823